.container
  .jumbotron
    h1 Multivision
    p Welcome to Multivision, the most comprehensive tech-learning database.
  
  .row
    .col-md-6
      div(ng-include="'/partials/main/featured-courses'")
    .col-md-6
      div(ng-include="'/partials/main/new-courses'")
